---
import ProjectsGrid from "@components/ProjectsGrid.astro";
import Layout from "@layout/Layout.astro";

const projects = [
  {
    name: "Asistente con inteligencia artificial",
    description:
      "En este proyecto, hemos utilizado inteligencia artificial, combinado con un IVR (Twilio) y otras herramientas tenemos la capacidad de mantener una conversación tanto por chat como por voz, este proyecto es privado.",
    link: "/blog/aiassistant",
    img: "aiassistant"
  },
  {
    name: "App de compras, impresión y notificación",
    description:
      "Plataforma completa de ventas en local, con servidor, impresora térmica, administración y notificación de pedidos por sms",
    link: "codehub.tech",
    img: "sistemacomprasnacionpoke"
  },
  {
    name: "SmartHome",
    description:
      "A home automation system that connects and controls various devices and appliances through a single intuitive app.",
    link: "github.com",
    img: "smarthome"
  },
];
---

<Layout
  pageTitle="Projects"
  description="Cosas que he creado para hacer que el mundo que me rodea sea un poco diferente, HRESDEV"
  type="content"
>
  <main class="px-8 pt-16 mx-auto max-w-6xl sm:pt-24 lg:px-16">
    <div class="flex flex-col mt-4 space-y-8">
      <div class="flex flex-col space-y-4">
        <h1
          class="text-4xl font-bold tracking-tighter sm:text-5xl max-w-[25ch]"
        >
        Cosas que he creado para hacer que el mundo que me rodea sea un poco diferente
        </h1>
        <p class="text-primary-300 max-w-[65ch]">
          He trabajado en muchos proyectos, aquí tienes una pequeña lista de ellos, otros son privados, si alguno de los proyectos de código abierto
          despierta tu interés revisa el código y contribuye si tienes ideas de como se puede mejorar.
        </p>
      </div>
      <ProjectsGrid projects={projects} />
    </div>
  </main>
</Layout>
