---
const jobs = [
  {
    title: "Backend Developer",
    company: "Cloud district",
    timeRange: "2022-Present",
    description:
      "Soy responsable de implementar, integrar y mantener funcionalidades en los proyectos nuevos y existentes de la empresa, adoptando un enfoque completo desde el inicio hasta la culminación del proceso. Empleo metodologías ágiles para asegurar la calidad y la escalabilidad del código, manteniendo una comunicación fluida tanto con el equipo interno como con el cliente, según sea necesario.",
  },
  {
    title: "Full Stack",
    company: "Freelance",
    timeRange: "2021-2022",
    description:
      "Participé activamente en el desarrollo de nuevas funcionalidades para DoLaundry, así como en la creación de un sistema integral de compras, impresión y notificaciones para NaciónPoke.",
  },
  {
    title: "Vendedor formador",
    company: "Wurth",
    timeRange: "2017-2022",
    description:
      "Durante mi tiempo en Wurth, desempeñé el papel de Vendedor Formador con gran dedicación y éxito. Mis responsabilidades abarcaban la venta, gestión y seguimiento de una cartera y zona asignada. Además, tuve el privilegio de impartir formación a empleados, contribuyendo así al desarrollo profesional y al crecimiento del equipo. Esta experiencia me permitió fortalecer mis habilidades en ventas, gestión de clientes y liderazgo, mientras trabajaba en un entorno dinámico y desafiante.",
  },
];
---

<section
  aria-labelledby=":rr:"
  class="mx-auto max-w-5xl sm:px-6 sm:border-l sm:border-primary-700/40"
>
  <div class="grid grid-cols-1 gap-y-8 items-baseline md:grid-cols-4">
    <h2
      id=":rr:"
      class="text-lg font-semibold tracking-tight sm:text-xl text-primary-100"
    >
      Experience
    </h2>
    <div class="md:col-span-3">
      <ul role="list" class="space-y-16">
        {
          jobs.map((j) => (
            <li class="flex flex-col items-start">
              <>
                <div class="flex flex-row justify-between items-baseline pl-2 w-full border-l border-primary-700">
                  <div class="flex flex-col">
                    <div class="flex flex-row gap-2 items-center">
                      <img
                        decoding="async"
                        loading="lazy"
                        src={`images/${j.company.replace(/\s+/g, '').toLowerCase()}.svg`}
                        class="w-5 h-5 rounded-full ring-1 shadow-md shadow-primary-800/5 ring-primary-900"
                      />
                      <h3 class="text-base font-semibold tracking-tight sm:max-w-none sm:text-lg max-w-[20ch] text-primary-100">
                        {j.company}
                      </h3>
                    </div>

                    <h2 class="text-sm tracking-tight sm:max-w-none sm:text-base max-w-[20ch] text-primary-300">
                      {j.title}
                    </h2>
                  </div>
                  <time class="text-sm text-primary-600">{j.timeRange}</time>
                </div>

                <p class="z-10 mt-4 text-sm text-primary-300 max-w-[75ch]">
                  {j.description}
                </p>
              </>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
